/* body {
padding: 80px;
} */
:root {
    --text-title-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color:  #FFFFFF;
    --secondary-grey-color: #F5F4FA;
    --primary-logo-color: #AFB1B8; 
    --timing-animation: 5000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    
  
    font-family: "Roboto", "Raleway", "Lato", "Open Sans", sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
  }

.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* min-height: 80px; */
    background-color: #FFFFFF;
    z-index: 9999;

}

.site-nav {
    display: flex;
    margin-left: 85px;
}


.nav-item:not(:last-child) {
    margin-right: 80px;
    position: relative;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-title-color);
    text-decoration: none;
}

.nav-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0); 
    transition:  2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
    transform: scaleX(1); 
}


.current::before {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: #2196f3;;
    transform: scaleX(1); 

}

.nav-item {
    margin-right: 15px;
}

.nav-item:hover .nav-link {
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.nav-item:hover .portfolio-submenu {
    display: block;
}



.portfolio-submenu {
    position: absolute;
    top: 100%;
    left: 0;    

    width: 100%;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    
    background-color: rgba(33, 150, 243, 0.9);

    display: none;
    text-decoration: none;
}

.submenu-item {
    position: relative;
    display: block;
}

.submenu-item:hover .submenu-link {
    color: var(--primary-white-color);
    /* background-color: rgba(33, 150, 243, 0.9); */
}

.submenu-link {
    display: block;
    position: relative;
    padding: 6px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color var(--timing-animation);
}

.submenu-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    color: var(--primary-white-color);
    background-color: rgb(255, 255, 255);
    transform: scaleX(0); 
    transition: transform var(--timing-animation);
    
}
.submenu-link:hover::after {
    transform: scaleX(1);
}

.portfolio-submenu:hover .submenu-all {
    display: block;
    transform: scaleX(1);
}

.submenu-all {
    position: absolute;
    top: -10px;
    left: 118%;    

    width: 100%;
    padding: 10px 10px;
    margin: 0;
    list-style: none;
    
    background-color: rgba(33, 150, 243, 0.9);

    display: none;
    text-decoration: none;
    transform: scaleX(0);
    transition: transform var(--timing-animation);
}


.all-item:hover .all-link {
    color: var(--primary-white-color);
}

.all-link {
    display: block;
    position: relative;
    padding: 6px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color var(--timing-animation);
}

.all-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    color: var(--primary-white-color);
    background-color: rgb(255, 255, 255);
    transform: scaleX(0); 
    transition: transform var(--timing-animation);
    
}
.all-link:hover::after {
    transform: scaleX(1);
}